<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PasswortGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PasswortGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <PasswortGenerator.Properties.Settings>
            <setting name="UseLowercase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseUppercase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseSpecialchars" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultPasswordlength" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="AllowedSpecialchars" serializeAs="String">
                <value>+-=_@#$%^&amp;;:,.&lt;&gt;/~\[](){}?!|*</value>
            </setting>
        </PasswortGenerator.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PasswortGenerator.Properties.Settings>
            <setting name="UpdateUrl" serializeAs="String">
                <value>https://passwordgenerator.alexweese.de/update.xml</value>
            </setting>
        </PasswortGenerator.Properties.Settings>
    </applicationSettings>
</configuration>